.cta{
    text-align: center;
}

.cta > * + *{
    margin-top:1rem;
}

.cta__img{
    width: var(--size-9xl);
    height: var(--size-9xl);
    object-fit: contain;
    margin-inline: auto;
}

.cta__title{
    font-size: var(--size-2xl);
    font-weight:900;
    line-height:1;

}

.cta__description{
    font-size: var(--size-sm);
    color: var(--clr-muted);
    max-width: 60ch;
    margin-inline: auto;

}

.cta__btn{
    font-size: var(--size-sm);
    margin-bottom: 3rem;
}